#user-signup-container {
    min-height: 600px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    background-color: white;
    background-image: url('https://images5.alphacoders.com/366/366327.jpg');
}

#signup-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px 5px;
}